<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="text-center">
    <div class="col-md-12">
        <h1>
            Bienvenido
        </h1>
        <div class="btn-group mt-sm" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" (click)="fnText()">Texto</button>
            <button type="button" class="btn btn-info" (click)="fnCheck()">Casillas</button>
            <button type="button" class="btn btn-info" (click)="fnSelect()">Desplegable</button>
        </div>

        <div class="mt-md" *ngIf="tipo == 'T'">
            <app-text></app-text>
        </div>
        <div class="mt-md" *ngIf="tipo == 'C'">
                <app-check></app-check>
        </div>
        <div class="mt-md" *ngIf="tipo == 'S'">
            <app-select></app-select>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
